@import "mixins";

.container {
  @include container-style;
  height: auto;

  .content-action {
    @include action-style;
    height: 55px;

    .edit-btn {
      @include mat-edit-btn-style;
    }  
  }

  .grid-content {
    width: 100%;
    height: 52vh;
  
    ::ng-deep {
      ag-grid-angular {
        width: 100%;
        height: 100%;
      }
    }
  }
}


