.detail-nav-tabs {
    padding: 18px 10px 0;
    border-bottom: unset;
  
      .mat-tab-header-pagination {
        background-color: $blue-2;
        border-radius: 4px;
  
        .mat-tab-header-pagination-chevron {
          border-color: $white;
        }
  
        &.mat-tab-header-pagination-disabled {
          .mat-tab-header-pagination-chevron {
            opacity: 0.7;
          }
        }
      }
  
      .mat-tab-link-container {
        background-color: $blue-2;
        border-radius: 4px;
  
        .mat-ink-bar {
          display: none;
        }
      }
  
    .mat-tab-link {
      height: 44px;
      padding: 0 24px;
      min-width: 120px;
      border-radius: 4px;
      opacity: 1;
      color: $white;
  
      &.mat-tab-label-active {
        background-color: $blue-light-22;
        color: $blue-2;
      }
    }
  }