@import "mixins";
@import "variables";

.container {
  @include container-style;
  height: auto;
  background-color: $content-bg-color;

  .content-action {
    @include action-style;
    height: 60px;

    .edit-btn {
      @include mat-edit-btn-style;
    }

    .wraper {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      padding: 0px 5;
  
  
      //border: 1px solid rgb(218, 27, 27) !important;
  
      div {
        flex: 1;
  
      }
  
      .mat-mdc-form-field, .mat-mdc-radio-group {
        flex: 2;
      }
  
      .nested {
        display: flex;
        align-items: center;
      }
  
      .add-box {
        position: absolute;
        right: 75px;
      }
  
      .add-box-second {
        position: absolute;
        right: 941px;
      }
  
      .mat-mdc-radio-group {
        margin-bottom: 10px;
      }
  
      .check-box {
        flex: 2;
  
        ul li {
          display: inline;
          margin-left: 5px;
        }
      }
  
      mat-radio-button {
        margin-left: 10px;
      }
    }
  
    .wraper:first-child {
      font-size: 16px !important;
      font-weight: 500 !important;
    }


    .title, .title>a {
      font-size: 18px;
      color: $blue-5;
      padding-bottom: 5px;

    }
  }

  .content-edit {
    .grid-edit {
      .add-content {
        height: auto;

        &.full-section {
          width: 100%;
        }

        .form-input {
          flex-direction: column;
          height: auto;
        }

        .hand-group {
          height: auto;
          min-height: 100%;
        }

        .group-row {
          height: auto;
        }
      }
    }
  }
}


.mr-15 {
  margin-right: 15px !important;
}

.picker {
  width: 250px!important;
}

.mat-datepicker-input {
  background-color: transparent !important;
}


.condition-row {
  display: flex;
  align-items: center;
  margin: 7px 0 4px 0;
  gap: 8px;

  button {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 24px;
  }

  .mat-mdc-form-field {
    margin: 0;
  }
}

.condition-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  .condition-box-item {
    height: 28px;
    padding: 0 6px;
    border-radius: 4px;
    border: 1px solid rgba(148, 149, 152, 1);
    background: rgba(239, 240, 246, 1);
    font-size: 14px;
    font-weight: bold;
    color: rgba(65, 77, 100, 1);
    display: flex;
    align-items: center;

    .close-icon {
      .mat-icon{
        color: rgb(96, 96, 98);
        margin-left: 8px;
        font-size: 20px;
        width: unset;
        height: unset;
      }
      // padding-top: 15px;
      cursor: pointer;
    }
  }
}

::ng-deep {
  .mat-datepicker-toggle {
    position: absolute !important;
    right: -8px !important;
    top: -24px !important;
  }

  .conditional-input {
    position: absolute !important;
    top: -2px !important;
    background: rgba(239, 240, 246, 1) !important;
  }
}

.sign-up-input {
  position: absolute;
  bottom: 11px;
}




