@import "mixins";
@import "variables";


.accounts-container {
    width: 100%;

  .accounts-content {
    td,
    th {
      box-sizing: border-box; /* Include padding and border in width */
      input {
        @include input-style;

        width: 90px!important;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        padding: 8px 14px;
        border: 1px solid $gray-light-18;
        border-radius: 4px;
        box-sizing: border-box;
        width: 100%;
        font-size: 16px;
        outline: none;
        color:  $text-color;
        background-color: $gray-light-17;;
      }
    }
    width: 100%;
    tr {
      height: 38px !important;
    }

    th {
      background-color: $bg-color;
      margin: 0;
      text-align: left;
      padding-left: 4px;
      color: white;
      font-size: 14px;
      font-weight: 500;
      box-sizing: border-box;
      padding: 4px 20px;
      text-overflow: ellipsis;
    }

    td {
      position: relative;
      color: $black-3;
      background-color: $white;
      text-align: left;
      height: 42px;

    }

    .selected-row {
      background-color: $gray-light-10;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-left: 40%;
  margin-top: 8px;

  .mat-enable-btn {
    @include mat-enable-style;
  }

  .mat-disable-btn {
    @include mat-delete-style;
  }
}