@import "variables";
@import "mixins";
.modal-wrap {
    position: relative;
    overflow: auto;
    height: 100%;
    max-height: calc(80vh - 91px);
    min-height: 200px;
    padding-right: 14px;
}

.mat-datepicker-input {
  background-color: transparent!important;
}

.selection-area, .selected-items-area {
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  
  // .selected-currency {
  //   max-width: 150px;
  // }
}

.selected-currency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

  span {
    flex: 1;
    margin-right: 10px;
  }

  button {
    flex-shrink: 0;
  }
}

.mat-btn {
  @include mat-btn-style;
}

.color-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  border-radius: 5px;
  .color-input {
    flex: 1;
    margin: 10px;

  }

}

.field-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; 
  align-items: center;
}

.field-row .campaign-select {
  min-width: 203px; 
}

.field-row .campaign-value {
  width: 80px!important;
}

.field-row .mat-btn {
  width: 30px;
  height: 30px;
}

.campaign-button {
  position: relative;
  .campaign-icon {
    position: absolute;
    top: 10px;
    right: 12px;
  }
}