@use '@angular/material' as mat;
@use "ag-grid-community/styles" as ag;

@include mat.core();

@include ag.grid-styles((theme: balham, --ag-header-background-color:#3E4D66));

@import "helpers/mixins";
@import "general/general_dir";
@import "helpers/fonts";
@import "helpers/variables";
@import "helpers/ag-grid";
@import "helpers/icons";
@import "helpers/material";
@import "helpers/form-edit";
@import "helpers/detail-nav-tabs";
@import "helpers/modal-form";
@import 'flatpickr/dist/flatpickr.min.css';

// @include mat.form-field-density(-4);

.mat-mdc-menu-content {
  a.active {
    background-color: #1375aa;
    color: rgb(165, 162, 162);
  }
}

.mat-mdc-form-field-flex>.mat-form-field-infix {
  padding: 0.4em 0 !important;
}

.mat-mdc-form-field-label-wrapper {
  top: -1.5em;
}

.mat-mdc-form-field-appearance-outline.mat-mdc-form-field-can-float.mat-mdc-form-field-should-float .mat-mdc-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.modal-header {
  height: $modal-header-height;
  border-bottom: 1px solid $border-color;
  @include flex-between;
  @include flex-vertical-center;
  mat-icon {
    cursor: pointer
  }
}

.modal-form {
  display: grid;
  grid-gap: 10px;
}
.mat-drawer-content{
  @media only screen and (max-width: 1200px) {
    margin-left: 0!important;
  }
}
.menu{
  display: none;
  position: relative;
  z-index: 4;
  top: -50px;
  left: 0;
  height: 0;
  font-size: 30px;
  margin-left: 2px;
  @media only screen and (max-width: 1200px) {
  display: block;
  }
}

app-progress-bar
{
  &.country
  {
    .block-content
    {
      margin-bottom: 4vh;
      .content-row
      {
        .icon{
          width: 3.2vh!important;
          height: 3.2vh!important;
          border-radius: 50%!important;
        }
      }
      .progress-bar-thumb
      {
        .progress-track
        {
          background: rgba(154, 182, 228, 1);
        }
      }
    }

  }
  &.payin, &.profitable,&.topprofitablematches
  {
    .block-content
    {
      .progress-bar-thumb
      {
        .progress-track
        {
          background: rgba(75, 204, 111, 1);
          .range{display: none}
        }
      }
    }
  }

  &.payout, &.damaging, &.topdamagedmatches
  {
    .block-content
    {
      .progress-bar-thumb
      {
        .progress-track
        {
          background: rgba(218, 80, 88, 1);
          .range{display: none}
        }
      }
    }
  }
  &.turnover, &.topturnovermatches
  {
    .block-content
    {
      .progress-bar-thumb
      {
        .progress-track
        {
          background: rgba(80, 152, 218, 1);
          .range{display: none}
        }
      }
    }
  }
  &.bonuses, &.active-clients
  {
    .block-content
    {
      .progress-bar-thumb
      {
        .progress-track
        {
          background: rgba(218, 179, 80, 1);
          .range{display: none}
        }
      }
    }
  }
}


.disabled-header
{
  position: relative;
  @media only screen and (max-width: 1200px) {
    &:after
    {
      content: "";
      position: absolute;
      top: 0;
      left: 47px;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 2;
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mat-mdc-snack-bar-container {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: $blue-light-6 !important;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece:vertical:start:corner-present {
  margin-bottom: 50px;
}

::-webkit-scrollbar-track {
  margin: 3px 0;
  background-color: $gray-light-4;
  border-radius: 5px;
}


input[type="datetime-local" i]::-webkit-calendar-picker-indicator {
  background: url('/assets/images/calendar.svg') no-repeat center center!important;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .container {
    .content-action {
      // height: 92px;
      .title {
        display: block;
      }

      .partner-dropdown {
        display: flex;
        margin-left: auto;
      }

    }
  }
  .grid-content {
    ag-grid-angular {
      height: calc(100vh - 150px) !important;
    }
  }
}

@media screen and (max-width: 780px) {
  .ag-body-vertical-scroll {
   display: none;
  }
}

@media screen and (max-width: 780px) {
  .pages-sizes
  {
    width: auto!important;
    bottom: 0!important;
    right: 2%;
    top: unset;
    left: unset!important;
  }
}


  mat-form-field{height: 40px;
    .mat-mdc-text-field-wrapper{height: 40px;}
  }
  .mdc-floating-label{top: 20px!important;}
  .mdc-floating-label--float-above{top: 28px!important;}
  .mat-mdc-form-field-infix{padding-top: 8px!important;}
  .mat-pseudo-checkbox {
    position: absolute!important;
    right: 0!important;
  }
  .mat-mdc-icon-button
  {
    padding: 0 0 6px 0!important;
  }
  .client-statuses
  {
    .mdc-list-item__primary-text
    {
      width: 100%;
      display: flex;
      align-items: center;
      i
      {
        color: rgba(228, 230, 242, 1);
        font-size: 18px;
        margin-right: 10px;
      }
      .mat-primary
      {
        width: 100%;
        .mdc-form-field
        {
          width: 100%;
          .mdc-checkbox{margin-left: auto}
          .mdc-label{margin-left: 10px}
        }
      }
    }
  }