<div class="container" *ngIf="openedVip">
  <div class="content-action">
    <div class="title">{{ 'PartnerLevels.YourLevel' | translate }}</div>
    <div class="partner-dropdown">
      <mat-select
        (selectionChange)="onPartnerChange($event.value)"
        placeholder="{{'Partners.SelectPartner' | translate}}"
        panelClass="overlay-dropdown"
        disableOptionCentering>
        <mat-option [value]="null">{{ 'Partners.SelectPartner' | translate }}</mat-option>
        <mat-option *ngFor="let partner of partners" [value]="partner.Id">{{ partner.Name }} _
          (Level {{ partner.VipLevel }})
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="progress-bar">
    <!--  <div class="progress" [style.width.%]="9 +((currentStep / totalSteps) * 100)"></div>-->
    <div class="progress" [style.width.%]="((vipLevel / partnerVipLevels.length) * (100 - 9)) + 9"></div>
  </div>
  <div class="steps">
    <div class="step" *ngFor="let step of partnerVipLevels; let i = index" [class]="getStepClasses(step?.Number)">
      VIP {{ step?.Number }}
    </div>
  </div>
  <div class="level-benefits">
    <p class="level-benefits-title">{{ 'PartnerLevels.YourLevelBenefits' | translate }}</p>
    <div class="level-benefits-description">{{ 'PartnerLevels.YourLevelBenefitsDescription' | translate }}</div>
  </div>
  <div class="six-levels-text">
    {{ 'PartnerLevels.HereAreLevels' | translate }}
  </div>
  <div class="vip-part-grid">
    <div class="vip-item" *ngFor="let step of partnerVipLevels; let i = index">
      <div class="percentage-circle" [class]="getPercentageClasses(i)">VIP {{ step?.Number }}</div>
      <div class="level-steps-part">
        <div class="title">
          <div class="title-about" (click)="about(i)">
            <mat-icon>info</mat-icon>
            <span class="about-part">{{ 'PartnerLevels.About' | translate }}</span>
          </div>
          <div class="opened-about" *ngIf="openedAboutSections[i]">
            <div class="opened-about-us-title">
              <div>{{ 'PartnerLevels.About' | translate }} VIP {{ step?.Number }}</div>
              <mat-icon class="close-icon" (click)="close()">close</mat-icon>
            </div>
            <p class="opened-about-us-text">{{ step?.Description }}</p>
          </div>
        </div>
        <ul class="text-part">
          <li class="text-part-item">{{ 'PartnerLevels.ActivePlayersCount' | translate }}
            >= {{ step.ActivePlayersCount | number:'1.2-2' }}
          </li>
          <li class="text-part-item">{{ 'PartnerLevels.MonthlyGGR' | translate }}
            >= {{ step.MonthlyGGR | number:'1.2-2' }}
          </li>
          <li class="text-part-item">{{ 'PartnerLevels.SportsbookGGR' | translate }}
            >= {{ step.SportsbookGGR | number:'1.2-2' }}
          </li>
          <li class="text-part-item">{{ 'PartnerLevels.OverdueObligations' | translate }}
            <= {{ step.OverdueObligations | number:'1.2-2' }}
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

