
<div class="container">

  <div class="content-action">
    <div class="title">{{'Users.AccountsHistory' | translate}}</div>
    <div class="date-time-tabs">
      <button class="tab-btn" [class.selected-time]="selectedItem ==='All Times'" mat-stroked-button (click)="selectTime('All Times')">{{'Common.AllTimes' | translate}}</button>
      <button class="tab-btn" [class.selected-time]="selectedItem ==='month'" mat-stroked-button (click)="selectTime('month')">{{'Common.Month' | translate}}</button>
      <button class="tab-btn" [class.selected-time]="selectedItem === 'week'" mat-stroked-button (click)="selectTime('week')">{{'Common.Week' | translate}}</button>
      <button class="tab-btn" [class.selected-time]="selectedItem === 'yesterday'" mat-stroked-button (click)="selectTime('yesterday')">{{'Common.Yesterday' | translate}}</button>
      <button class="tab-btn" [class.selected-time]="selectedItem ==='today'" mat-stroked-button (click)="selectTime('today')">{{'Common.Today' | translate}}</button>
    </div>

    <mat-form-field class="calendar-picker start" appearance="none">
      <input matInput [ngxMatDatetimePicker]="pickerStart" [(ngModel)]="fromDate" (dateChange)="onStartDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerStart">
        <div matDatepickerToggleIcon class="icon-calendar" aria-hidden="true" ></div>
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #pickerStart></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field class="calendar-picker" appearance="none">
      <input matInput [ngxMatDatetimePicker]="pickerEnd" [(ngModel)]="toDate" (dateChange)="onEndDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd">
        <div matDatepickerToggleIcon class="icon-calendar" aria-hidden="true"></div>
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #pickerEnd></ngx-mat-datetime-picker>
    </mat-form-field>

    <button mat-stroked-button class="mat-btn" (click)="go()">{{'Common.Go' | translate}}</button>

  </div>

  <div class="grid-content">
    <ag-grid-angular
    id="all-providers"
    #agGrid
    class="ag-theme-balham"
    [headerHeight]="33"
    [rowHeight]="42"
    [rowData]="rowData"
    [rowModelType]="rowModelType"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [enableBrowserTooltips]="enableBrowserTooltips"
    [sideBar]="sideBar"
    [animateRows]="true"
    [enableBrowserTooltips]="enableBrowserTooltips"
    (gridReady)="onGridReady($event)"
    [ensureDomOrder]="true"
    [enableCellTextSelection]="true"
    rowSelection="single">
  </ag-grid-angular>
  
  </div>
</div>




