<div mat-dialog-title>
  <span class="title">{{'Common.TemplateTranslation' | translate}}</span>
  <mat-icon alt="icon" class="icon" (click)="close()">close</mat-icon>
</div>

<div class="container-popup">

  @for (item of translationData.Translations; track $index) {
    <div class="language-content">
      <div class="language-dropdown" (click)="openedIndex = $index">
        <div>{{item.Language}}</div>
        <div class="arrow" [class.opened] = "openedIndex == $index"></div>
      </div>
  
      @if(openedIndex == $index) {
        <app-html-editor
          [text] = "item.Text"
          [styles] = "{height: '250px', marginBottom: '6px'}"
          (htmlCode)="item.newText = $event">
        </app-html-editor>
      }
  
    </div>
  }

</div>

<div mat-dialog-actions>
  <button mat-raised-button class="modal-cancel-btn" (click)="close()">{{'Common.Cancel' | translate}}</button>
  <button mat-raised-button 
    class="modal-primary-btn" 
    (click)="onSubmit()"
    [class.disabled]="isSendingRequest"
    >
    {{'Common.Save' |translate}}
  </button>
</div>
