@import "variables.scss";
@import "mixins.scss";

.home-container {
  padding: 50px 15px 0 15px;
  box-sizing: border-box;
  @include desktop {
    padding-top: fluidSizeOnly(50, 30, $media-desktop-size, $media-laptop-size);
  }

  .categories {
    display: grid;
    gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include desktop {
      gap: fluidSizeOnly(20, 15, $media-desktop-size, $media-laptop-size);
    }

    .category {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: $media-laptop) {
  .home-container {
    .categories {
      gap: 30px;
      grid-template-columns: 1fr;
    }
  }
}














