@import "mixins.scss";
@import "variables.scss";

.grid-content {
  width: 100%!important;
  height: 92.7%!important;
  position: relative;
  ::ng-deep {
    ag-grid-angular {
      width: 100%;
      height: 100%;
    }
  }

  .grid-action {
    position: absolute;
    right: 0;
    bottom: 15px;
    display: flex;
    justify-content: flex-end;
    .partner-dropdown {
      margin-right: 8px;
      @include dropdown-style;
    }

    .mat-btn {
      margin-right: 8px;
      @include mat-btn-style;
    }

  }
}

// ::ng-deep {
//   ag-grid-angular {
//     width: 100%;
//     height: 100%;
//   }
// }