<div class="nav-editor-content">
  <div class="nav-tab" [class.selected]="activeTab  === 'editor'" (click)="activeTab = 'editor'">{{'Crm.Editor' | translate}}</div>
  <div class="nav-tab" [class.selected]="activeTab  === 'view-code'" (click)="activeTab = 'view-code'">{{'Crm.ViewCode'| translate}}</div>
</div>

@switch (activeTab) {
  @case ("editor") {
    <quill-editor
      [styles]="styles"
      [modules]="quillConfig"
      [disabled] = "disabled"
      [(ngModel)]="text"
      (onEditorCreated)="onEditorCreated($event)"
      (onContentChanged)="onContentChanged($event)">
    </quill-editor>
  }
  @case ("view-code") {
    <div class="view-code-content">
      {{text}}
    </div>
  }
}




