@import "variables.scss";
@import "mixins.scss";

.left-menu-items {

  .section-content {
    padding: 8px 14px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in;
    height: 100%;

    &:hover {
      background-color: $blue-light-3;
    }

    .material-icons {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }

    .link-text {
      display: none;
      font-size: 14px;
      white-space: nowrap;
      ;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 10px;
      font-family: "Roboto", sans-serif;

      &.show {
        display: inline-block;
      }
    }

    &.selected {
      background-color: $blue-2;


      .material-icons {
        color: $white;
      }

      .link-text {
        color: $white;
      }
    }
  }
}

.item-dropdown {

  &.mat-menu-panel {
    border-radius: 0;
    min-height: auto;
    max-height: calc(100vh - 64px);
    min-width: 220px;
    overflow: auto;
    height: 100% !important;

    &.nested {
      left: 1px !important;
    }

    .mat-menu-content {
      padding: 0;

      .item {
        height: 100%;
        cursor: pointer;
        position: relative;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: $blue-light-3;
        }

        .mat-menu-submenu-icon {
          display: none;
        }

        .item-content {
          display: flex;
          align-items: center;


          &.arrow {
            &::after {
              content: "";
              display: inline-block;
              width: 0;
              height: 0;
              border-left: 4px solid $gray-light-3;
              border-top: 4.5px solid transparent;
              border-bottom: 4.5px solid transparent;
              position: absolute;
              right: 16px;
            }
          }

          .mat-icon {
            width: 18px;
            height: 18px;
            font-size: 18px;
            margin-right: 10px !important;
            color: $gray-light-3;
          }

          .item-name {
            color: $gray-light-3;
            padding-right: 5px;
          }

          .icon-edit {
            font-size: 16px;
            padding-left: 12px;
          }
        }

        &.selected {
          background-color: $blue-2;
          pointer-events: none;
          color: $white;

          .item-content {
            .mat-icon {
              color: $white;
            }

            .item-name {
              color: $white;
            }
          }
        }
      }

      .mat-menu-item {
        height: 34px;
        line-height: 34px;
      }
    }
  }
}