@import "variables.scss";
@import "mixins";

:host {
  width: 800px;
}


.mat-mdc-dialog-actions {
  .mat-cancel-btn {
    margin-left: auto;
    @include mat-cancel-btn-style;
  }

  .mat-btn {
    margin-left: 8px;
    @include mat-btn-style;
  }
}