<div class="sign-in">

  <div class="card-content">
    <div class="wrapper"></div>
    <mat-card>

      <mat-card-header class="card-header">
        <img src="{{imagePath}}" alt="logo">
        <div class="name">Management System</div>
      </mat-card-header>

      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-card-content>
          <div class="title">{{'Login.LoginAccount' | translate}}</div>
          <div class="user-input">
            <input #user class="input" [class.has-error]="hasError('UserName')" matInput placeholder="Username" type="text"
                   formControlName="UserName">
                   @if(hasError('UserName')) {
                     <mat-error class="mat-error">
                       {{'Login.UsernameError' | translate}}
                     </mat-error>
                   }
          </div>

          <div class="password-input">
            <input #password class="input" [class.has-error]="hasError('Password')" matInput placeholder="Password"
                   type="password" formControlName="Password">
            <mat-icon class="visibility"
              (click)="password.type = password.type === 'password'? 'text': 'password'">{{password.type === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
              @if(hasError('Password')) {
                <mat-error class="mat-error">
                  {{'Login.PasswordError' | translate}}
                </mat-error>
              }
          </div>

          <div class="language-dropdown">
            <mat-select
              formControlName="LanguageId"
              (selectionChange)="changeLanguage($event.value)"
              [(value)]="defaultValue"
              panelClass="overlay-dropdown login"
              disableOptionCentering>
              @for (langauge of languages; track $index) {
                <mat-option [value]="langauge.Id">{{langauge.Name}}</mat-option>
              }
            </mat-select>
          </div>

        </mat-card-content>

        <div class="btn-content">
          <button type="submit" mat-stroked-button  class="login-btn" [class.disabled]="disabledButton || isSendingRequest ">{{'Login.Submit' | translate}}</button>
          @if(errorMessage) {
            <mat-error>
              {{errorMessage}}
            </mat-error>
          }
        </div>

      </form>

    </mat-card>
  </div>



</div>
