@import "mixins.scss";
@import "variables.scss";

.content-action {
    @include action-style;
    padding: 0 10px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    

    .custom-dropdown {
      @include dropdown-style;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      padding: 0;
      .contianer-wrap {
        display: flex;
        width: 100%;
        flex-wrap: nowrap !important;
        .date-time-tabs {
          display: flex;
          margin-left: 0 !important;
          gap: 8px;
        }
      }
    }

    .contianer-wrap {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      @media screen and (max-width: 1200px) {
        margin-top: 6px;
      }

      .date-time-tabs {
        margin-left: 8px;
        display: flex;
        flex-wrap: nowrap;

        .tab-btn {
          margin-right: 8px;
        }

        @include tab-button-style;

        @media screen and (max-width: 600px) {
          .tab-btn {
            width: calc(33.33% - 8px);
            justify-content: center;
            display: flex;
            margin-right: 0px;
          }
        }
      }



      .mat-btn {
        margin-left: 8px;
        @include mat-btn-style;

        @media screen and (max-width: 600px) {
          margin-left: 8px;
        }
      }
    }
  @media screen and (max-width: 1400px) {
    margin-bottom: 26px;
  }
}
.contianer-wrap::-webkit-scrollbar {
  height: 0;
}

.calendar-picker {
  margin-right: 8px;
  cursor: pointer;
  input {
      border: 1px solid $gray-light;
      border-radius: 8px;
      background-color: $gray-light-13;
      border-radius: 8px;
      color: $gray-light-15;
      height: 34px;
      transition: background-color 0.3s, color 0.3s;
      font-size: 14px;
  }

  [dir="rtl"] & {
    margin-right: 0; 
    margin-left: 8px;
}
}

.calendar-picker {
  cursor: pointer;
   input{
    background-color: transparent!important;
    border: none!important;
    margin-top: 10px!important;
  }
  &.start {
    margin-right: 8px;

    @media screen and (max-width: 1200px) {
      margin-left: 8px
      input{
        background-color: transparent!important;
        border: none!important;
        margin-top: 10px!important;
      }
    }
  }

  @include calendar-picker-style;
  @media screen and (max-width: 600px) {
    margin: 0;
    padding: 0;
  }

}

::ng-deep .data-time-input{
  background-color: transparent;
}